<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Interoperabilnost informacijskih sustava</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" />

</head>
<body>

<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">IIS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/">Početna</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/xsd">XSD validation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/rng">RNG validation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/soap">SOAP</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/jaxb">JAXB</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/xmlrpc">XML-RPC</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-left" id="authNav">
        <li class="nav-item">
          <a class="nav-link" href="/login">Prijava</a>
        </li>
        <!--        <li class="nav-item">-->
        <!--          <a class="nav-link" href="/register">Registracija</a>-->
        <!--        </li>-->
      </ul>
    </div>
  </div>
</nav>

<!-- Jumbotron -->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="alert alert-danger d-none" role="alert" id="alertDanger">
      XML nije validan!
    </div>
    <div class="alert alert-success d-none" role="alert" id="alertSuccess">

    </div>
    <form id="rngForm">
      <div class="mb-3">
        <label for="xmlFile" class="form-label">XML datoteka</label>
        <input class="form-control" type="file" id="xmlFile" required>
      </div>
      <button type="submit" class="btn btn-primary" id="rngBtn">Provjeri</button>
    </form>
  </div>
</div>

<!-- Bootstrap JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/js/bootstrap.bundle.min.js"></script>
<script>
  (() => {
    if (sessionStorage.getItem('jwt') == undefined){
      authNav.classList.remove('d-none');
    } else {
      authNav.classList.add('d-none');
    }

    const postData = async (url = "", data = {}) => {
      const token = sessionStorage.getItem('jwt');

      const formData  = new FormData();

      for(const name in data) {
        formData.append(name, data[name]);
      }
      // Default options are marked with *
      const response = await fetch(url, {
        method: "POST", // *GET, POST, PUT, DELETE, etc.
        headers: {
          "Authorization": `Bearer ${token}`,
        },
        body: formData, // body data type must match "Content-Type" header
      });
      return response.json(); // parses JSON response into native JavaScript objects
    }
    const validate = (e) => {
      e.preventDefault();

      alertDanger.classList.add('d-none');
      alertSuccess.classList.add('d-none');
      rngBtn.disabled = true;
      rngBtn.innerHTML = '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>';

      const data = {
        pokemon: xmlFile.files[0]
      }

      postData('http://localhost:8000/api/rng', data)
              .then((result) => {

                if (result.status == "success"){
                  alertSuccess.classList.remove('d-none');
                  alertSuccess.innerHTML = result.message;
                  return;
                } else {
                  alertDanger.classList.remove('d-none');
                  alertDanger.innerHTML = result.message;
                }
              })
              .catch((error) => {
                console.error(error);
                alertDanger.classList.remove('d-none');
                alertDanger.innerHTML = error.message;
              })
              .finally(() => {
                rngBtn.disabled = false;
                rngBtn.innerHTML = 'Provjeri';
              })
    }

    rngForm.addEventListener('submit', validate);
  })();
</script>

</body>
</html>
